spring:
  datasource:
    url: jdbc:postgresql://staging-db-host:5432/erp_core_staging
    username: staging_user
    password: ${STAGING_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    com.learn.erp_core: INFO
